{% extends "base.html.twig" %}

{% block body %}


    {% for toApprove in toApproves %}
    <div class="col-6">
        <br>
        <div class="card comments-to-approve">
            <div class="card-body">
                <h5 class="card-title">{{toApprove.username}}</h5>
                <p class="card-text">{{toApprove.comment}}</p>
                <a href="index.php?controller=comments&methode=approve&id={{toApprove.id}}" class="card-link">valider</a>
                <a href="index.php?controller=comments&methode=delete&id={{toApprove.id}}" class="card-link">supprimer</a>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}


{% endblock %}



