

{% extends "base.html.twig" %}

{% block body %}
<form method="POST">
    <input type="text" name="textTitle">
    <textarea name='textContent' placeholder="Taper votre contenu"></textarea>
    <input type="submit">
</form>
{% endblock %}

