

{% extends "base.html.twig" %}

{% block ecrire_article %}

{% endblock %}
{% block body %}


<form class="box" action="" method="post" name="login">
<h1 class="box-logo box-title">
  <a href="https://waytolearnx.com/">WayToLearnX.com</a>
</h1>
<h1 class="box-title">Connexion</h1>
<input type="text" class="box-input" name="username" placeholder="Nom d'utilisateur">
<input type="password" class="box-input" name="password" placeholder="Mot de passe">
<input type="submit" value="Connexion " name="submit" class="box-button">
<p class="box-register">Vous êtes nouveau ici? 
  <a href="register.php">S'inscrire</a>
</p>

{% if message is not empty %}
    <p class="errorMessage">{{message}}</p>
{% endif %}

</form>

{% endblock %}

