<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<link rel="stylesheet" href="style.css">
<title>register</title>
</head>
<body>

    <form class="box" action="" method="post">
        <h1 class="box-logo box-title">
          <a href="https://waytolearnx.com/">WayToLearnX.com</a>
        </h1>
          <h1 class="box-title">S'inscrire</h1>
        <input type="text" class="box-input" name="username" 
        placeholder="Nom d'utilisateur" required />
        
          <input type="text" class="box-input" name="email" 
        placeholder="Email" required />
        
          <input type="password" class="box-input" name="password" 
        placeholder="Mot de passe" required />
        
          <input type="submit" name="submit" 
        value="S'inscrire" class="box-button" />
        
          <p class="box-register">Déjà inscrit? 
        <a href="login.php">Connectez-vous ici</a></p>
      </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>